<launch>

  <!-- Connect the robot to a keyboard teleop controller -->
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>
  <node ns="rl_world" pkg="rl_world" type="goal_publisher_node" name="goal_publisher_node" output="screen" />

</launch>
